<launch>

  <include file="$(find first_approaches)/launch/nao_init1_exp.launch"/>
  <include file="$(find first_approaches)/launch/nao_init2_exp.launch"/>
	 
  <!--
    Controller
  -->
  <node pkg="first_approaches" type="nao_tracker_odometry" name="controller" args="1" output="screen">
    <param name="x_01" value="0"/>
    <param name="y_01" value="0"/>
    <param name="theta_01" value="0"/>
    
    <param name="x_02" value="1.6"/>
    <param name="y_02" value="-1.2"/>
    <param name="theta_02" value="3.14159265"/>
    
    <param name="NAO_IP1" value="192.168.1.19"/>
    <param name="NAO_PORT1" value="9559"/>
    <param name="NAO_IP2" value="192.168.1.127"/>
    <param name="NAO_PORT2" value="9559"/>
  </node>

</launch>
