<launch>
  
  <arg name="nao_ip" default="$(optenv NAO_IP 192.168.1.19)"/>
  <arg name="nao_port" default="$(optenv NAO_PORT 9559)"/>
  
  <!--
    Top camera 1
  -->
  <node pkg="nao_driver" type="nao_camera.py" name="nao_camera1" required="true" args="--pip=$(arg nao_ip) --pport=$(arg nao_port)" output="screen">
    <rosparam command="load" file="$(find nao_behavior_tree)/launch/parameters.yaml"/>
    <remap from="image_raw" to="image_raw1"/>
  </node>
  
  <!--
    Leds 1
  -->
  <node pkg="nao_behavior_tree" type="nao_leds" name="nao_leds" output="screen">
    <rosparam command="load" file="$(find nao_behavior_tree)/launch/parameters.yaml"/>
    <param name="NAO_IP" value="$(arg nao_ip)"/>
    <param name="NAO_PORT" value="$(arg nao_port)"/>
  </node>
  
  
  <!--
    Actions 1
  -->
  <node pkg="nao_behavior_tree" type="TrackingAmongObstacles" name="TrackingAmongObstacles1" args="1" output="screen">
    <rosparam command="load" file="$(find nao_behavior_tree)/launch/parameters.yaml"/>
    <param name="NAO_IP" value="$(arg nao_ip)"/>
    <param name="NAO_PORT" value="$(arg nao_port)"/>
  </node>
  

  <!--
    Behavior Tree 1
  -->
  <node pkg="nao_behavior_tree" type="nao_behavior_tree" name="nao_behavior_tree1" output="screen">
    <param name="file" value="/home/olivier/ros_workspace/nao_behavior_tree/bt1_test_bearing.txt"/>
  </node>


  <!--
    Localization
  -->
  <node pkg="nao_behavior_tree" type="localization" name="localization" args="0" output="screen">
	<rosparam command="load" file="$(find nao_behavior_tree)/launch/webcam.yaml"/>
  </node>
  
</launch>
