<launch>
  
  <node pkg="nao_behavior_tree" type="Obstacles" name="Obstacles" args="1" output="screen">
    <param name="cameraId" value="1"/>
    <param name="webcam" value="true"/>
  </node>
  
  
  <!--
    Behavior Tree
  -->
  <node pkg="nao_behavior_tree" type="nao_behavior_tree" name="nao_behavior_tree" output="screen">
    <param name="file" value="/home/olivier/ros_workspace/nao_behavior_tree/bt_obstacles.txt"/>
  </node>
  
</launch>
