<launch>
  
  <node pkg="nao_behavior_tree" type="obstacles" name="obstacles" args="0" output="screen">
    <param name="cameraId" value="0"/>
    <param name="webcam" value="true"/>
    
    <param name="H_MIN" value="0"/>
    <param name="H_MAX" value="16"/>
    <param name="S_MIN" value="110"/>
    <param name="S_MAX" value="255"/>
    <param name="V_MIN" value="30"/>
    <param name="V_MAX" value="255"/>
  </node>
  
</launch>
