<launch>
  
  <arg name="nao_ip" default="$(optenv NAO_IP 192.168.1.19)"/>
  <arg name="nao_port" default="$(optenv NAO_PORT 9559)"/>

  <!--
    Walker 1
  -->
  <node pkg="nao_driver" type="nao_walker.py" name="nao_walker3" required="true" args="--pip=$(arg nao_ip) --pport=$(arg nao_port)" output="screen">
  	<remap from="cmd_vel" to="cmd_vel3"/>
  </node>
  
  
  <!--
    Remote
  -->
  <node pkg="nao_behavior_tree" type="remote" name="remote3" args="1" output="screen">
    <param name="NAO_IP" value="$(arg nao_ip)"/>
    <param name="NAO_PORT" value="$(arg nao_port)"/>
  </node>
  
</launch>
