<launch>

  <!--
  	This pushes the local PYTHONPATH into the launch file, so that the NaoQI API is found.
    You need to add the Nao's API dir to your PYTHONPATH so that the modules are found.
  -->
  <env name="PYTHONPATH" value="$(env PYTHONPATH)" /> 

  
  <!-- 
    Start Nao 1
  -->
  <arg name="nao_ip1" default="$(optenv NAO_IP 192.168.1.19)" />
  <arg name="nao_port1" default="$(optenv NAO_PORT 9559)" />
  
 <!--
    Top camera
  -->
  <node pkg="nao_driver" type="nao_camera.py" name="nao_camera1" required="true" args="--pip=$(arg nao_ip1) --pport=$(arg nao_port1)" output="screen">
    <param name="camera_switch" value="0"/>
    <param name="resolution" value="2"/>
    <remap from="image_raw" to="image_raw1"/>
  </node>

</launch>
