<launch>

  <!--
    Localization
  -->
  <node pkg="nao_behavior_tree" type="Localization" name="Localization" args="0" output="log">
    <param name="camera" value="0"/>
    <param name="H_MIN" value="0"/>
    <param name="H_MAX" value="20"/>
    <param name="S_MIN" value="30"/>
    <param name="S_MAX" value="150"/>
    <param name="V_MIN" value="80"/>
    <param name="V_MAX" value="255"/>
  </node>
  
  
  <!--
    Actions
  -->
  <node pkg="nao_behavior_tree" type="Stop" name="Stop1" args="1"/>
  <node pkg="nao_behavior_tree" type="Stop" name="Stop2" args="2"/>  
  
  
  <!--
    Behavior Trees
  -->
  <node pkg="nao_behavior_tree" type="nao_behavior_tree" name="nao_behavior_tree1" output="log">
    <param name="file" value="/home/olivier/ros_workspace/nao_behavior_tree/bt1_test.txt"/>
  </node>
  
  <node pkg="nao_behavior_tree" type="nao_behavior_tree" name="nao_behavior_tree2" output="log">
    <param name="file" value="/home/olivier/ros_workspace/nao_behavior_tree/bt2_test.txt"/>
  </node>
  
</launch>
